a{
    background-color: rgb(97, 57, 207);
    margin: 10px;
    font: Arial;
    color: red;
    padding: 0px;
    margin: 0px;
    text-align: center;

}
nav{
	overflow: hidden;
	background-color: blue;
}
nav a{
	float: left;
	color: red;
	padding: 1px;
	text-decoration: none;
}