a{
    background-color: rgb(1, 0, 2);
    margin: 10px;
    font: Times New Roman;
    color: red;
    padding: 0px;
    margin: 0px;
    text-align: center;

}
nav{
	overflow: hidden;
	background-color: blue;
}
nav a{
	float: middle;
	color: red;
	padding: 5px;
	text-decoration: none;
}
nav a:hover{
	background-color: blue;
	color: white;
}